<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/board-style.css" />
  </head>
  <body>
    <%- include('partials/nav')  %>

    <header>
      <%- include('partials/board-title') %>

      <hr width="70%" color="black" size="2" style="margin-left: 30px" />
      
      <div class="cards-container">
        <% for (let i = 0; i < data.length; i++) {  %>
        <div class="card">
          <% if (boardType === 'humor') { %>
            <div class="card-header" ><a href="http://localhost:3000/humors/<%= data[i].id%>"><%= data[i].title %></a></div>
          <% } else if (boardType === 'onlineBoard') { %>
            <div class="card-header" ><a href="http://localhost:3000/online-boards/<%= data[i].id%>"><%= data[i].title %></a></div>
          <% } else if (boardType === 'polticalDebate') { %>
            <div class="card-header" ><a href="http://localhost:3000/poltical-debates/<%= data[i].id%>"><%= data[i].title %></a></div>
          <% } else if (boardType === 'trial') { %>
            <div class="card-header" ><a href="http://localhost:3000/trials/<%= data[i].id%>"><%= data[i].title %></a></div>
          <% } %>
        
          
          <div class="card-stats">
            <div>조회 : <%= data[i].view %></div>
            <% if (boardType !== 'poltical-debates') { %>
            <div>좋아요 : <%= data[i].like %></div>
            <% } %>
          </div>
        </div>
        <% } %>
      </div>
      <div class="pagination">

        <%
        // 페이지 링크를 위한 기본 URL 설정
        let baseUrl = '';
        switch (boardType) {
          case 'humor':
            baseUrl = '/humors?page=';
            break;
          case 'onlineBoard':
            baseUrl = '/online-boards?page=';
            break;
          case 'polticalDebate':
            baseUrl = '/poltical-debates?page=';
            break;
          case 'trial':
            baseUrl = '/trials?page=';
            break;
        }
        const prevGroupPage = startPage > 1 ? startPage - 1 : null;
        const nextGroupPage = endPage < pageCount ? endPage + 1 : null;
        %>
        <% if (prevGroupPage) { %>
          <a href="<%= baseUrl + (prevGroupPage - 9) %>">« 이전</a>
        <% } %>
        
        <% for (let i = startPage; i <= endPage; i++) { %>
          <% if (i === currentPage) { %>
            <span class="current-page-number">[<%= i %>]</span>
          <% } else { %>
            <a href="<%= baseUrl + i %>"><%= i %></a>
          <% } %>
        <% } %>
        
        <% if (nextGroupPage) { %>
          <a href="<%= baseUrl + nextGroupPage %>">다음 »</a>
        <% } %>
        
      </div>

      <% if (boardType === 'humor') { %>
        <a class="submit-button" href="/humors/create">글쓰기</a>
      <% } else if (boardType === 'onlineBoard') { %>
        <a class="submit-button" href="/online-boards/create">글쓰기</a>
      <% } else if (boardType === 'polticalDebate') { %>
        <a class="submit-button" href="/poltical-debates/create">글쓰기</a>
      <% } else if (boardType === 'trial') { %>
        <a class="submit-button" href="/trials/create">글쓰기</a>
      <% } %>
      <div class="search-container">
        <form action="/search" method="get">
          <input type="text" placeholder="검색..." name="search" />
          <button type="submit">검색</button>
        </form>
      </div>
      
    </header>
    <p><%= statusCode %></p>
  </body>
</html>
