<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/board-style.css" />
  </head>
  <body>
    <%- include('partials/nav') %>

    <header>
      <%- include('partials/board-title') %>
      <hr width="70%" color="lightskyblue" size="2" style="margin-left: 30px; height: 3px;" />
      <div class="post_title">
        <span><%= data.title  %></span>
        <div>
          <span>조회수:<%= data.view  %></span>
          <% if (boardType !== 'polticalDebate') { %>
          <span>좋아요:<%= data.like  %></span>
          <% } %>
        </div>
      </div>
      <hr width="100%" color="grey" size="1"style="margin-left: 30px;"" />
      
      <!--게시글 내용-->
      <div class="post_content">
        <span><%= data.content  %></span>
        <% if (data.imageUrl) { %>
          <div class="post_image">
            <% for (let i = 0; i < JSON.parse(data.imageUrl).length; i++) {  %>
            <img src="<%=JSON.parse(data.imageUrl)[i] %>" alt="Post Image" >
            <% } %>
            
          </div>
          <% } %>
      </div>
      <!--게시글 좋아요-->
      <% if (boardType !== 'polticalDebate') { %>
      <div class="like_button">
        <button id="like" href="/<% data.id %>">좋아요</button>
      </div>
      <% } %>
      <!--게시글 댓글-->
      <div>
        <% if (boardType === 'humor') { %>
          <p style="font-size: 30px;">댓글: <%= data.humorComment.length  %>개</p>
          <div class="content_container">
            <% for (let i = 0; i < data.humorComment.length; i++)  {%>
              <div class="content">
                
              <p>작성자: <%= data.humorComment[i].userId %></p>
              <p><%= data.humorComment[i].content %></p>
              <p>작성일: <%= data.humorComment[i].createdAt %></p>
              <button class="modify">수정</button>
              <button>삭제</button>
              </div>
              <% } %>
          </div>
        <% } else if (boardType === 'onlineBoard') { %>
          <%= JSON.stringify(data) %>
          <p style="font-size: 30px;">댓글: <%= data.onlineBoardComment.length  %>개</p>
          <div class="content_container">
            <% for (let i = 0; i < data.onlineBoardComment.length; i++)  {%>
              <div class="content">
              <p>작성자: <%= data.onlineBoardComment[i].userId %></p>
              <p><%= data.onlineBoardComment[i].content %></p>
              <p>작성일: <%= data.onlineBoardComment[i].createdAt %></p>
              <button class="modify">수정</button>
              <button>삭제</button>
              </div>
              <% } %>
          </div>
        <% } else if (boardType === 'polticalDebate') { %>
          <p style="font-size: 30px;">댓글: <%= data.polticalDebateComments.length  %>개</p>
          <div class="content_container">
            <% for (let i = 0; i < data.polticalDebateComments.length; i++)  {%>
              <div class="content">
              <p>작성자: <%= data.polticalDebateComments[i].userId %></p>
              <p><%= data.polticalDebateComments[i].content %></p>
              <p>작성일: <%= data.polticalDebateComments[i].createdAt %></p>
              <button class="modify">수정</button>
              <button>삭제</button>
              </div>
              <% } %>
          </div>
        <% } %>
        
      </div>
      
      
    
    </header>
    <script>
        let boardType;
        boardType = "<%= boardType %>";
        let id;
        id = "<%= data.id %>"

    

        document.getElementById('like').addEventListener('click', function() {

  // fetch를 사용하여 POST 요청을 보냅니다.
  fetch(`/like/${id}`, {
    method: 'POST', // HTTP 메소드 지정
    headers: {
      'Content-Type': 'application/json', // 콘텐츠 타입 헤더 설정
    },
    body: JSON.stringify({ // 요청 바디
      boardType: boardType, // boardType을 요청 바디에 포함
    }),
  })
  .then(response => {
    if (response.ok) {
      return response.json(); // 응답을 JSON 형태로 파싱
    }
    throw new Error('Network response was not ok.');
  })
  .then(data => {
    if (boardType === 'humor') { 
          boardType = 'humors'
        } else if (boardType === 'onlineBoard') { 
          boardType = 'online-boards'
        } else if (boardType === 'polticalDebate') { 
          boardType = 'poltical-debates'
        } else if (boardType === 'trial') { 
          boardType = 'trials'
        } 
    window.location.href = `/${boardType}/${id}`
  })
  .catch(error => {
    console.error('Error:', error);
  });
});
    </script>
  </body>
</html>
