<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/board-style.css" />
  </head>
  <body>
    <%- include('partials/nav') %>

    <header>
      <%- include('partials/board-title') %>
      <hr width="70%" color="lightskyblue" size="2" style="margin-left: 30px; height: 3px;" />
      <div class="post_title">
        <span><%= data.title  %></span>
        <div>
          <span>조회수:<%= data.view  %></span>
          <span>좋아요:<%= data.like  %></span>
        </div>
      </div>
      <hr width="100%" color="grey" size="1"style="margin-left: 30px;"" />
      <div class="post_content">
        <span><%= data.content  %></span>
        
      </div>
      <div>
        <% if (boardType === 'humor') { %>
          <p style="font-size: 30px;">댓글: <%= data.humorComment.length  %>개</p>
          <div class="content_container">
            <% for (let i = 0; i < data.humorComment.length; i++)  {%>
              <div class="content">
              <p>작성자: <%= data.humorComment[i].userId %></p>
              <p><%= data.humorComment[i].content %></p>
              <p>작성일: <%= data.humorComment[i].createdAt %></p>
              <button class="modify">수정</button>
              <button>삭제</button>
              </div>
              <% } %>
          </div>
        <% } else if (boardType === 'onlineBoard') { %>
          <p style="font-size: 30px;">댓글: <%= data.OnlineBoardComment.length  %>개</p>
          <div class="content_container">
            <% for (let i = 0; i < data.OnlineBoardComment.length; i++)  {%>
              <div class="content">
              <p>작성자: <%= data.OnlineBoardComment[i].userId %></p>
              <p><%= data.OnlineBoardComment[i].content %></p>
              <p>작성일: <%= data.OnlineBoardComment[i].createdAt %></p>
              <button class="modify">수정</button>
              <button>삭제</button>
              </div>
              <% } %>
          </div>
        <% } else if (boardType === 'polticalDebate') { %>
          <p style="font-size: 30px;">댓글: <%= data.polticalDebateComments.length  %>개</p>
          <div class="content_container">
            <% for (let i = 0; i < data.polticalDebateComments.length; i++)  {%>
              <div class="content">
              <p>작성자: <%= data.polticalDebateComments[i].userId %></p>
              <p><%= data.polticalDebateComments[i].content %></p>
              <p>작성일: <%= data.polticalDebateComments[i].createdAt %></p>
              <button class="modify">수정</button>
              <button>삭제</button>
              </div>
              <% } %>
          </div>
        <% } %>
        
      </div>
      <% if (data.imageUrl) { %>
      <div class="post_image">
        <% for (let i = 0; i < JSON.parse(data.imageUrl).length; i++) {  %>
        <img src="<%=JSON.parse(data.imageUrl)[i] %>" alt="Post Image" >
        <% } %>
        
      </div>
      <% } %>
      
    
    </header>
    <script>
        let boardType;
        boardType = "<%= boardType %>";

      if (boardType === 'humor') { 
          boardType = 'humors'
        } else if (boardType === 'onlineBoard') { 
          boardType = 'online-boards'
        } else if (boardType === 'polticalDebate') { 
          boardType = 'poltical-debates'
        } else if (boardType === 'trial') { 
          boardType = 'trials'
        } 
    </script>
  </body>
</html>
