<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <link rel="stylesheet" href="/vote.css" />

    <link rel="stylesheet" href="/css/board-style.css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <header>
      <%- include('partials/board-title') %>
      <%= JSON.stringify(data)  %>
      <hr width="70%" color="lightskyblue" size="2" style="margin-left: 30px; height: 3px;" />
      <div class="post_title">
        <% if (boardType !== "trial") {%>
        <span><%= data.title  %></span>
        <% } else { %>
          <span><%= data.OneTrials.title  %></span>
          <% } %>
        <div>
          <span>조회수:<%= data.view  %></span>
          <% if (boardType !== 'polticalDebate') { %>
          <span>좋아요:<%= data.like  %></span>
          <% } %>
        </div>
        
      </div>
      <div class="ud-container">
      <div>
        <% if (boardType !== "trial") {%>
        <button id="update" data-post-id="<%= data.id %>">수정</button>
        <button id="delete" data-post-id="<%= data.id %>">삭제</button>
        <% } else { %>
          <button id="update" data-post-id="<%= data.OneTrials.id %>">수정</button>
          <button id="delete" data-post-id="<%= data.OneTrials.id %>">삭제</button>
          <% } %>
      </div>
    </div>
      <hr width="100%" color="grey" size="1"style="margin-left: 30px;"" />
      
      <!--게시글 내용-->
      <div class="post_content">
        <% if (boardType !== "trial") {%>
          <span><%= data.content  %></span>
          <% } else { %>
            <span><%= data.OneTrials.content  %></span>
            <% } %>
        <% if (data.imageUrl) { %>
          <div class="post_image">
            <% for (let i = 0; i < JSON.parse(data.imageUrl).length; i++) {  %>
            <img src="<%=JSON.parse(data.imageUrl)[i] %>" alt="Post Image" >
            <% } %>
            
          </div>
          
          <% } %>
      </div>
      <% if (boardType === 'humor') { %>
        <%- include('humorVote') %>
      <% } else if (boardType === 'polticalDebate') { %>
        <%- include('polticalVote') %>
      <% } else if (boardType === 'trial') { %>
      <%- include('chat') %> 
        <% } %>
      </div>
      <!--게시글 좋아요-->
      <% if (boardType !== 'polticalDebate') { %>
      <div class="like_button">
        <button id="like" href="/<% data.id %>">좋아요</button>
      </div>
      <% } %>
      <!--게시글 댓글-->
      <% 
      let boardComment;
      switch (boardType) {
            case 'humor':
            boardComment = 'humorComment';
              break;
            case 'onlineBoard':
            boardComment = 'onlineBoardComment';
              break;
            case 'polticalDebate':
            boardComment = 'polticalDebateComments';
              break;
          }
      %>
      <% if (boardType !== 'trial') {%>
      <div>
          <p style="font-size: 30px;">댓글: <%= data[boardComment].length  %>개</p>
          <div class="content_container">
            <% for (let i = 0; i < data[boardComment].length; i++)  {%>
              <div class="content">
                
              <p>작성자: <%= data[boardComment][i].userId %></p>
              <p><%= data[boardComment][i].content %></p>
              <p>작성일: <%= data[boardComment][i].createdAt %></p>
              <button class="modify"">수정</button>
              <button class="delete-comment"">삭제</button>
              </div>
              <% } %>
          </div>
      </div>
      <% } %>
    </header>
    <script>


    let boardName;
    switch ("<%= boardType %>") {
          case 'humor':
          boardName = 'humors';
            break;
          case 'onlineBoard':
          boardName = 'online-boards';
            break;
          case 'polticalDebate':
          boardName = 'poltical-debates';
            break;
          case 'trial':
          boardName = 'trials';
            break;
        }
document.getElementById("update").addEventListener("click", function() {
  const postId = this.getAttribute("data-post-id");
  // 이 버튼의 데이터 속성에서 게시물 ID를 가져옵니다.
  // 게시물 수정 페이지 URL로 리다이렉트합니다.
  // 예시 URL 구조: "edit-post.html?id=123"
  window.location.href = `/${boardName}/update/${postId}`;
});


  const deleteButton = document.getElementById('delete'); 
  
  deleteButton.addEventListener('click', function(event) {
    const postId = deleteButton.getAttribute('data-post-id'); 
    if (!postId) {
      alert('게시물 ID가 없습니다.');
      return;
    }

    // 사용자에게 삭제 확인 요청
    if (confirm('정말로 이 게시물을 삭제하시겠습니까?')) {
      fetch(`/${boardName}/${postId}`, {
        method: 'DELETE'
      })
      .then(response => {
        if (response.ok) {
          alert('게시물이 삭제되었습니다.');
          window.location.href = `/${boardName}`; 
        } else {
          throw new Error('Network response was not ok.');
        }
      })
      .catch(error => {
        console.error('Error:', error.message);
        alert('게시물 삭제에 실패했습니다.');
      });
    }
  });
    </script>
  </body>
</html>
